@font-face {
	font-family: 'Purisa';
	src: url('fonts/Purisa.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
		url('fonts/Purisa.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
	font-family: 'WhimsyTT';
	src: url('fonts/WhimsyTT.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
		url('fonts/WhimsyTT.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

body {
	background: url(bg.jpg) repeat #112;
	color: #DD9;
	font-family: Purisa;
}

.a {
	position: absolute;
}

.c {
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}

#app-container {
	width: 95%;
	height: 95%;
	padding: 6px;
	border: 2px solid #112;
	border-radius: 4px;
	background: #223;
	display: block;
}

#export-img {
	top: 0; left: 0;
	background: rgba(0, 0, 0, 0.9);
}

#e-msg, #e-load {
	font-size: 18px;
}

#editor { 
	width: 100%;
	height: 100%;
}

#transparency {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	background: url(alpha.png) repeat #666;
}

form {
	display: none;
}
